{% extends "::base.html.twig" %}

{% block title %}Contact details{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div class="container well well-sm" style="width: 900px; margin: 0 auto; margin-top: 20px">
        <div class="row">
            <div class="col-xs-8">
                <h1>{{ contact.name }} {{ contact.surname }} </h1>
                <p>{{ contact.description }}</p>
            </div>
            <div class="col-xs-4" style="margin-top: 15px">
                <a class="btn btn-primary btn-sm" href="{{ path('coderslab_contact_showall') }}"
                   role="button">Back to list</a>
                <a class="btn btn-primary btn-sm" href="{{ path('coderslab_contact_modify',{'id': contact.id}) }}"
                   role="button">Modify</a>
                <a class="btn btn-danger btn-sm" href="{{ path('coderslab_contact_delete',{'id': contact.id}) }}"
                   role="button">Delete</a>
            </div>
        </div>
        <div class="col-xs-4">
            <h3>Adresses:</h3>
            <ul>
                {% for address in contact.addresses %}
                    <li style="margin-top: 10px">
                        {{ address.street }} {{ address.houseNumber }}<br/>
                        {% if address.appartamentNumber is not null %}app.: {{ address.appartamentNumber }}<br/>{% endif %}
                        {{ address.city }}
                        <a class="btn btn-primary btn-xs"
                           href="{{ path('coderslab_address_modify',{'id': contact.id,'addressId': address.id}) }}"
                           role="button">Modify</a>
                        <a class="btn btn-danger btn-xs"
                           href="{{ path('coderslab_address_delete',{'id': contact.id,'addressId': address.id}) }}"
                           role="button">Delete</a>

                    </li>
                {% endfor %}
                <li style="margin-top: 10px">
                    <a class="btn btn-success btn-sm"
                       href="{{ path('coderslab_address_new',{'id': contact.id}) }}"
                       role="button">Add</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h3>Phone numbers:</h3>
            <ul>
                {% for phone in contact.phones %}
                    <li style="margin-top: 10px">
                        {% if phone.type is not null %}{{ phone.type }}:<br/>{% endif %}
                        {{ phone.number }}
                        <a class="btn btn-primary btn-xs"
                           href="{{ path('coderslab_phone_modify',{'id': contact.id,'phoneId': phone.id}) }}"
                           role="button">Modify</a>
                        <a class="btn btn-danger btn-xs"
                           href="{{ path('coderslab_phone_delete',{'id': contact.id,'phoneId': phone.id}) }}"
                           role="button">Delete</a>

                    </li>
                {% endfor %}
                <li style="margin-top: 10px">
                    <a class="btn btn-success btn-sm"
                       href="{{ path('coderslab_phone_new',{'id': contact.id}) }}"
                       role="button">Add</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h3>e-mail accounts:</h3>
            <ul>
                {% for email in contact.emails %}
                    <li style="margin-top: 10px">
                        {% if email.type is not null %}{{ email.type }}:<br/>{% endif %}
                        {{ email.address }}
                        <a class="btn btn-primary btn-xs"
                           href="{{ path('coderslab_email_modify',{'id': contact.id,'emailId': email.id}) }}"
                           role="button">Modify</a>
                        <a class="btn btn-danger btn-xs"
                           href="{{ path('coderslab_email_delete',{'id': contact.id,'emailId': email.id}) }}"
                           role="button">Delete</a>

                    </li>
                {% endfor %}
                <li style="margin-top: 10px">
                    <a class="btn btn-success btn-sm"
                       href="{{ path('coderslab_email_new',{'id': contact.id}) }}"
                       role="button">Add</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
