{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Contact Book{% endblock %}

{% block fos_user_content %}

    <a class="btn btn-success btn-sm" href="{{ path('coderslab_contact_new') }}" role="button">Add a new contact</a>
    <a class="btn btn-primary btn-sm" href="{{ path('coderslab_grouping_showall') }}" role="button">Groups</a>
    <a class="btn btn-primary btn-sm" href="{{ path('coderslab_contact_search') }}" role="button">Search</a>
    <a class="btn btn-primary btn-sm" href="{{ path('coderslab_contact_showall') }}" role="button">Show all</a>
    <h1>Contact list:</h1>

    {% for contact in contacts %}
        <div class="container well well-sm" style="width: 750px; margin: 0 auto; margin-top: 20px">
            <div class="col-xs-8">
                <h1>{{ contact.surname }} {{ contact.name }}</h1>
                <p>{{ contact.description }}</p>
            </div>
            <div class="col-xs-4" style="margin-top: 15px">
                <a class="btn btn-primary btn-sm" href="{{ path('coderslab_contact_show',{'id': contact.id}) }}"
                   role="button">Show</a>
                <a class="btn btn-primary btn-sm" href="{{ path('coderslab_contact_modify',{'id': contact.id}) }}"
                   role="button">Modify</a>
                <a class="btn btn-danger btn-sm" href="{{ path('coderslab_contact_delete',{'id': contact.id}) }}"
                   role="button">Delete</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
